# Ignore everything
*

# But descend into directories
!*/

# Recursively allow files under subtree
!/alacritty
!/X
!/bin
!/bspwm

# Allow cmus dir, but ignore some inner files
!/cmus
cmus/cache
cmus/command-history
cmus/lib.pl

!/dunst
!/git
!/gtk-3.0
!/idea
!/install
!/k9s
!/nvim
!/picom
!/polybar

# Allow vifm dir, but ignore some inner files
!/qutebrowser
qutebrowser/autoconfig.yml

!/streamlink
!/sxhkd
!/sxiv
!/tmux

# Allow vifm dir, but ignore some inner files
!/vifm
vifminfo

!/zsh
!/*.md
!/betterlockscreenrc
!/mimeapps.list
!.gitignore
