# All not needed apps
configstore/
htop/
mc/
karabiner/
lf/
oni/
kitty/
nvim/.netrwhist
pgcli/
neofetch/
coc/
mutt/
msmtp/
gcloud/
htop/
pcmanfm/
libfm/
VirtualBox/
yay/
vimb/
libreoffice/
tmux/
JetBrains/
Dharkael/
nitrogen/
pulse/
pulseaudio-ctl/
GIMP/
Thunar/
gtk-2.0/
inkscape/
vlc/
xfce4/
dconf/
Kingsoft/
Trolltech.conf
Slack/
autostart/
skypeforlinux/
QtProject.conf
kdenliverc
evolution/
RawTherapee/
vifm/vifminfo
cmus/cache
cmus/command-history
cmus/lib.pl

