snippet makejava "Default makefile"
all: test build 

reimport:
	mvn -U clean install -DskipTests

clean:
	mvn clean 

compile:
	mvn clean compile

build:
	mvn clean package

install:
	mvn clean install

test:
	mvn clean test

run:
	mvn spring-boot:run

debug:
	cp ~/.config/nvim/vimspector.json .vimspector.json
	mvn spring-boot:run -Dspring-boot.run.jvmArguments="-Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=5005"
endsnippet
