snippet init "Basic rest file" !b
http://${1:localhost:8080}
-sS # hide progress
-L # follow redirects
# -v # verbose
-i # Include protocol headers in the output
--



--
# Find $2
# ----------------------------------------------
GET /api/${2:resource}$0
# ----------------------------------------------
endsnippet


snippet req "Make request" !b
--
# $2
# ----------------------------------------------
${1:GET} /api/${2:resource}$0
# ----------------------------------------------
endsnippet


snippet get "Make GET request" !b
--
# $1
# ----------------------------------------------
GET /api/${1:resource}$0
# ----------------------------------------------
endsnippet


snippet post "Make POST request" !b
--
# $1
# ----------------------------------------------
POST /api/${1:resource}
Content-type: application:json
{
	"$2": "$3"$0
}
# ----------------------------------------------
endsnippet


snippet put "Make PUT request" !b
--
# $1
# ----------------------------------------------
PUT /api/${1:resource}/${2:1}
Content-type: application:json
{
	"$3": "$4"$0
}
# ----------------------------------------------
endsnippet


snippet delete "Make DELETE request" !b
--
# $1
# ----------------------------------------------
DELETE /api/${1:resource}/${2:1}$0
# ----------------------------------------------
endsnippet
