snippet xml "XML declaration" b
<?xml version="1.0"?>
$0
endsnippet

snippet t "Simple tag" b
<${1:tag}>
	${2:content}
</${1/([\w:._-]+).*/$1/}>
endsnippet

snippet ti "Inline tag" b
<${1:tag}>${2:content}</${1/([\w:._-]+).*/$1/}>
endsnippet

snippet dep "Maven Dependency" b
<dependency>
	<groupId>$1</groupId>
	<artifactId>$2</artifactId>
	<version>$3</version>
	<scope>$4</scope>
	<optional>$6</optional>
</dependency>
endsnippet
