snippet xml "XML declaration" b
<?xml version="1.0"?>
$0
endsnippet

snippet t "Simple tag" b
<${1:tag}>
	${2:content}
</${1/([\w:._-]+).*/$1/}>
endsnippet

snippet ti "Inline tag" b
<${1:tag}>${2:content}</${1/([\w:._-]+).*/$1/}>
endsnippet

snippet prod "Product tag" b
<product>
  <name>${1:name}</name>
  <catalog>${2:catalog}</catalog>
  <tag>${3:tag}</tag>
  <details>
    <version>${4:version}</version>
    <attr>${5:attr}</attr>
  </details>
</product>
endsnippet
